body {
    background: rgba(159, 150, 150, 0.201);
    font-family: Garamond, 'Times New Roman', Georgia, Times, serif;
}

.body-div {
    margin: 0 auto;
    width: 700px;
    height: auto;
}

/* .li-div {
    margin: 0 auto;
    border: 1px solid;
} */

.recipe-ul li{
    list-style: none;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(115, 137, 94);
    color: white;
  }